<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>汇电云联管理系统</title>
        <link rel="shortcut icon" href=/static/images/favicon.ico type=image/x-icon>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <link href=/static/css/app.0767ec8696e44cae3fc76d16661747c8.css rel=stylesheet>
    </head>
    <body>
        <div id=app></div>
        <script src=./static/js/jsencrypt.min.js></script>
        <script type=text/javascript src=/static/js/manifest.21d9b9ffb762a6ab6701.js></script>
        <script type=text/javascript src=/static/js/vendor.743140a830fa201d42ad.js></script>
        <script type=text/javascript src=/static/js/app.405b430d91289dffece0.js></script>
    </body>
</html>