<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
</head>
<body>
    <div class="form">
        <div class="form-item">
            <label for="username">用户名：</label>
            <input type="text" id="username">
        </div>
        <div class="form-item">
            <label for="password">密码：</label>
            <input type="password" id="password">
        </div>
        <div class="form-item">
            <button onclick="register()">注册</button>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/md5.min.js"></script>
<script type="text/javascript" src="/js/tool.js"></script>
<script type="text/javascript">
    function register() {
        let usernameCtrl = document.querySelector('#username');
        let passwordCtrl = document.querySelector('#password');
        let username = usernameCtrl.value;
        let password = passwordCtrl.value;
        password = md5(password + '-pwdsalt')
        ajaxPost('/api/register', {username: username, password: password}, (res) => {
            console.log(res);
        });
    }
</script>
</html>